* {
    scrollbar-size: 0 0;
}

App {
    background: ansi_default;
    color: ansi_default;
}

Screen {
    background: ansi_default;
    padding: 0;
    border: none;
}

#content {
    align-horizontal: center;
    content-align: center middle;
    height: 1fr;
    padding: 0 3;
}

#footer {
    height: 1;
    min-width: 50;
    opacity: 70%;
    margin: 0 0 1 0;
    text-wrap: nowrap;
}

#footer-center,
#footer-center-left,
#footer-center-right {
    content-align: center middle;
    width: 1fr;
}

#footer-left {
    content-align: left middle;
    margin-left: 3;
    width: 1fr;
}

#footer-right {
    content-align: right middle;
    margin-right: 3;
    width: 1fr;
}

#header {
    height: auto;
    padding-bottom: 1;
}

#header-byline {
    content-align: center middle;
    height: 1;
}

#header-logo {
    content-align: center middle;
    min-width: 112;
    text-wrap: nowrap;
}

#execution-content {
    height: 1fr;
    padding: 0 3;
}

#log {
    height: 1fr;
    background: transparent;
    border: round ansi_default;
    padding: 0 1;
}

#menu {
    height: 1fr;
    margin-bottom: 1;
}

#param-error {
    color: ansi_red;
    height: 1;
    text-style: bold;
}

#param-hint {
    height: 1;
    padding-left: 1;
    text-style: dim;
}

#param-widget-area {
    height: auto;
}

#progress-heading {
    height: 1;
    text-style: bold;
}

#progress-panel {
    height: 5;
    margin-top: 1;
    padding: 0 1;
}

#outcome-progress {
    height: 1;
    width: 1fr;
}

#result-status {
    height: 1;
    content-align: left middle;
}

#settings-editor {
    background: transparent;
    border: round ansi_default;
    color: ansi_default;
    height: 1fr;
}

#settings-label {
    content-align: left middle;
    height: auto;
    padding-top: 1;
}

#settings-status {
    height: auto;
    padding-bottom: 1;
}

Input {
    background: transparent;
    border: tall ansi_default;
    color: ansi_default;
}

Input:focus {
    border: tall ansi_default;
}

OptionList, ListView {
    background: transparent;
    border: none;
}

#menu {
    border: round ansi_default;
}

OptionList > .option-list--option {
    color: ansi_default;
}

OptionList > .option-list--option-highlighted {
    background: transparent;
    color: ansi_default;
    text-style: bold reverse;
}

OptionList > .option-list--option-hover {
    color: ansi_default;
    text-style: underline;
}
